.grid-result{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

.s-film{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
}

.s-film img {
    width: 200px;
}